h2 {
  color: forestgreen;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  text-align: center;
}

span {
  color: red;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  width: 21vw;
}

.img-fluid {
  background-image: url('../Images/1531404.jpg');
  background-size: cover;
  height: 108vh;
}

.start {
  height: 8vh;
  width: 8vw;
  /* margin-left: 45vw; */
}

#sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.quiz {
  background-color: rgba(255, 255, 255, 0.5);
}

#quiz-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.75);
  width: 45vw;
}

#scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

.blah {
  width: 25vw;
  padding-bottom: 10vh;
}

.mainTitle {
  display: flex;
  justify-content: center;
}
/* 
.heat-celt {
  background-image: url(../Images/Screen\ Shot\ 2018-08-29\ at\ 11.43.23\ AM.png);
  background-size: cover;
} */
.heat {
  width: 35vh;
  margin-left: 9vh;
}

.home-score {
  font-family: 'Orbitron';
  position: absolute;
  width: 17.5vw;
  height: 33.2vh;
  color: green;
  font-size: 6vh;
}

.away-score {
  font-family: 'Orbitron';
  position: absolute;
  width: 30vw;
  height: 33.2vh;
  color: green;
  font-size: 6vh;
  padding-left: 23.6vw;
}

.away-fouls {
  font-family: 'Orbitron';
  position: absolute;
  width: 30vw;
  height: 33.2vh;
  color: yellow;
  font-size: 6vh;
  padding-left: 22.25vw;
  padding-top: 18vh;
}

.home-fouls {
  font-family: 'Orbitron';
  position: absolute;
  width: 30vw;
  height: 33.2vh;
  color: yellow;
  font-size: 6vh;
  padding-left: 5vw;
  padding-top: 18vh;
}

.shot-clock {
  font-family: 'Orbitron';
  position: absolute;
  width: 30vw;
  height: 33.2vh;
  color: red;
  font-size: 6vh;
  padding-left: 49vw;
  padding-top: 25vh;
}

.heat-sm-logo {
  width: 1vw;
}

.celtic-sm-logo {
  width: 1vw;
}

#scoreBoard2 {
  position: absolute;
  width: 100vh;
  height: 50vh;
}

.free-throw-gif {
  height: 25vh;
}

.heat-win-text {
  width: 20vw;
}

.celtic-win-text {
  width: 14vw;
}